<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="podreczna.kucharyna"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="org.ii.kucharyna.app.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  1 Activity -->
        <activity android:name="org.ii.kucharyna.app.activities.Calculator" />
        
        <!--  2 Activity -->
        <activity android:name="org.ii.kucharyna.app.activities.RecipiesList" />
        
        <!--  3 Activity -->
        <activity android:name="org.ii.kucharyna.app.activities.ShoppingList" />
        
        <activity android:name="org.ii.kucharyna.app.activities.AddingRecipe"
                    android:label="@string/recipeAdd"></activity>
        
        <activity android:name="org.ii.kucharyna.app.activities.ShowingRecipe" />
        
    </application>

</manifest>